.formCont {
	max-width: 100%;
	padding: 10px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.signupForm {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

@media (max-width: 1232px) {
	.product {
		width: 360px;
	}
}

@media (max-width: 1115px) {
	.product {
		width: 330px;
	}
}

@media (max-width: 1028px) {
	.product {
		width: 300px;
	}
}

@media (max-width: 950px) {
	.product {
		width: 400px;
	}
}

@media (max-width: 830px) {
	.product {
		width: 330px;
	}
}

@media (max-width: 700px) {
	.product {
		width: 290px;
	}
}

@media (max-width: 630px) {
	.product {
		width: 450px;
	}
}

@media (max-width: 500px) {
	.product {
		width: 350px;
	}
}

@media (max-width: 400px) {
	.product {
		width: 300px;
	}
}
